- 1131523501 2005.11.09 aadmin1 Nov 10 00:05:01 src@aadmin1 in.tftpd[14620]: tftp: client does not accept options
- 1131524071 2005.11.09 tbird-admin1 Nov 10 00:14:31 local@tbird-admin1 postfix/postdrop[10896]: warning: unable to look up public/pickup: No such file or directory
- 1131524073 2005.11.09 tbird-admin1 Nov 10 00:14:33 local@tbird-admin1 postfix/postdrop[10900]: warning: unable to look up public/pickup: No such file or directory
- 1131524106 2005.11.09 tbird-admin1 Nov 10 00:15:06 local@tbird-admin1 postfix/postdrop[10910]: warning: unable to look up public/pickup: No such file or directory
- 1131524107 2005.11.09 tbird-admin1 Nov 10 00:15:07 local@tbird-admin1 postfix/postdrop[10913]: warning: unable to look up public/pickup: No such file or directory
- 1131524196 2005.11.09 tbird-admin1 Nov 10 00:16:36 local@tbird-admin1 postfix/postdrop[10939]: warning: unable to look up public/pickup: No such file or directory
- 1131524197 2005.11.09 tbird-admin1 Nov 10 00:16:37 local@tbird-admin1 postfix/postdrop[10943]: warning: unable to look up public/pickup: No such file or directory
- 1131524199 2005.11.09 tbird-admin1 Nov 10 00:16:39 local@tbird-admin1 postfix/postdrop[10946]: warning: unable to look up public/pickup: No such file or directory
- 1131524201 2005.11.09 tbird-admin1 Nov 10 00:16:41 local@tbird-admin1 postfix/postdrop[10950]: warning: unable to look up public/pickup: No such file or directory
- 1131524202 2005.11.09 tbird-admin1 Nov 10 00:16:42 local@tbird-admin1 postfix/postdrop[10953]: warning: unable to look up public/pickup: No such file or directory
- 1131524287 2005.11.09 tbird-admin1 Nov 10 00:18:07 local@tbird-admin1 postfix/postdrop[10989]: warning: unable to look up public/pickup: No such file or directory
- 1131524290 2005.11.09 tbird-admin1 Nov 10 00:18:10 local@tbird-admin1 postfix/postdrop[10995]: warning: unable to look up public/pickup: No such file or directory
- 1131524290 2005.11.09 tbird-admin1 Nov 10 00:18:10 local@tbird-admin1 postfix/postdrop[10998]: warning: unable to look up public/pickup: No such file or directory
- 1131524291 2005.11.09 tbird-admin1 Nov 10 00:18:11 local@tbird-admin1 postfix/postdrop[11001]: warning: unable to look up public/pickup: No such file or directory
- 1131524292 2005.11.09 tbird-admin1 Nov 10 00:18:12 local@tbird-admin1 postfix/postdrop[11004]: warning: unable to look up public/pickup: No such file or directory
- 1131524292 2005.11.09 tbird-admin1 Nov 10 00:18:12 local@tbird-admin1 postfix/postdrop[11007]: warning: unable to look up public/pickup: No such file or directory
- 1131524293 2005.11.09 tbird-admin1 Nov 10 00:18:13 local@tbird-admin1 postfix/postdrop[11011]: warning: unable to look up public/pickup: No such file or directory
- 1131524400 2005.11.09 tbird-admin1 Nov 10 00:20:00 local@tbird-admin1 postfix/postdrop[11052]: warning: unable to look up public/pickup: No such file or directory
- 1131524901 2005.11.09 aadmin1 Nov 10 00:28:21 src@aadmin1 in.tftpd[22523]: tftp: client does not accept options
- 1131525909 2005.11.09 tbird-admin1 Nov 10 00:45:09 local@tbird-admin1 postfix/postdrop[11729]: warning: unable to look up public/pickup: No such file or directory
- 1131525911 2005.11.09 tbird-admin1 Nov 10 00:45:11 local@tbird-admin1 postfix/postdrop[11732]: warning: unable to look up public/pickup: No such file or directory
- 1131525912 2005.11.09 tbird-admin1 Nov 10 00:45:12 local@tbird-admin1 postfix/postdrop[11735]: warning: unable to look up public/pickup: No such file or directory
- 1131525912 2005.11.09 tbird-admin1 Nov 10 00:45:12 local@tbird-admin1 postfix/postdrop[11738]: warning: unable to look up public/pickup: No such file or directory
- 1131525913 2005.11.09 tbird-admin1 Nov 10 00:45:13 local@tbird-admin1 postfix/postdrop[11743]: warning: unable to look up public/pickup: No such file or directory
- 1131525914 2005.11.09 tbird-admin1 Nov 10 00:45:14 local@tbird-admin1 postfix/postdrop[11746]: warning: unable to look up public/pickup: No such file or directory
- 1131525997 2005.11.09 tbird-admin1 Nov 10 00:46:37 local@tbird-admin1 postfix/postdrop[11779]: warning: unable to look up public/pickup: No such file or directory
- 1131526000 2005.11.09 tbird-admin1 Nov 10 00:46:40 local@tbird-admin1 postfix/postdrop[11782]: warning: unable to look up public/pickup: No such file or directory
- 1131526004 2005.11.09 tbird-admin1 Nov 10 00:46:44 local@tbird-admin1 postfix/postdrop[11785]: warning: unable to look up public/pickup: No such file or directory
- 1131526086 2005.11.09 tbird-admin1 Nov 10 00:48:06 local@tbird-admin1 postfix/postdrop[11821]: warning: unable to look up public/pickup: No such file or directory
- 1131526092 2005.11.09 tbird-admin1 Nov 10 00:48:12 local@tbird-admin1 postfix/postdrop[11825]: warning: unable to look up public/pickup: No such file or directory
- 1131526092 2005.11.09 tbird-admin1 Nov 10 00:48:12 local@tbird-admin1 postfix/postdrop[11828]: warning: unable to look up public/pickup: No such file or directory
- 1131526092 2005.11.09 tbird-admin1 Nov 10 00:48:12 local@tbird-admin1 postfix/postdrop[11831]: warning: unable to look up public/pickup: No such file or directory
- 1131526092 2005.11.09 tbird-admin1 Nov 10 00:48:12 local@tbird-admin1 postfix/postdrop[11834]: warning: unable to look up public/pickup: No such file or directory
- 1131526092 2005.11.09 tbird-admin1 Nov 10 00:48:12 local@tbird-admin1 postfix/postdrop[11837]: warning: unable to look up public/pickup: No such file or directory
- 1131526200 2005.11.09 tbird-admin1 Nov 10 00:50:00 local@tbird-admin1 postfix/postdrop[11889]: warning: unable to look up public/pickup: No such file or directory
- 1131526304 2005.11.09 aadmin1 Nov 10 00:51:44 src@aadmin1 in.tftpd[1038]: tftp: client does not accept options
- 1131526848 2005.11.09 tbird-admin1 Nov 10 01:00:48 local@tbird-admin1 postfix/postdrop[12191]: warning: unable to look up public/pickup: No such file or directory
- 1131527670 2005.11.09 tbird-admin1 Nov 10 01:14:30 local@tbird-admin1 postfix/postdrop[12824]: warning: unable to look up public/pickup: No such file or directory
- 1131527704 2005.11.09 tbird-admin1 Nov 10 01:15:04 local@tbird-admin1 postfix/postdrop[12839]: warning: unable to look up public/pickup: No such file or directory
- 1131527706 2005.11.09 tbird-admin1 Nov 10 01:15:06 local@tbird-admin1 postfix/postdrop[12843]: warning: unable to look up public/pickup: No such file or directory
- 1131527708 2005.11.09 aadmin1 Nov 10 01:15:08 src@aadmin1 in.tftpd[8981]: tftp: client does not accept options
- 1131527708 2005.11.09 tbird-admin1 Nov 10 01:15:08 local@tbird-admin1 postfix/postdrop[12848]: warning: unable to look up public/pickup: No such file or directory
- 1131527708 2005.11.09 tbird-admin1 Nov 10 01:15:08 local@tbird-admin1 postfix/postdrop[12850]: warning: unable to look up public/pickup: No such file or directory
- 1131527709 2005.11.09 tbird-admin1 Nov 10 01:15:09 local@tbird-admin1 postfix/postdrop[12853]: warning: unable to look up public/pickup: No such file or directory
- 1131527711 2005.11.09 tbird-admin1 Nov 10 01:15:11 local@tbird-admin1 postfix/postdrop[12856]: warning: unable to look up public/pickup: No such file or directory
- 1131527711 2005.11.09 tbird-admin1 Nov 10 01:15:11 local@tbird-admin1 postfix/postdrop[12859]: warning: unable to look up public/pickup: No such file or directory
- 1131527713 2005.11.09 tbird-admin1 Nov 10 01:15:13 local@tbird-admin1 postfix/postdrop[12864]: warning: unable to look up public/pickup: No such file or directory
- 1131527799 2005.11.09 tbird-admin1 Nov 10 01:16:39 local@tbird-admin1 postfix/postdrop[12905]: warning: unable to look up public/pickup: No such file or directory
- 1131527799 2005.11.09 tbird-admin1 Nov 10 01:16:39 local@tbird-admin1 postfix/postdrop[12908]: warning: unable to look up public/pickup: No such file or directory
- 1131527799 2005.11.09 tbird-admin1 Nov 10 01:16:39 local@tbird-admin1 postfix/postdrop[12913]: warning: unable to look up public/pickup: No such file or directory
